:root{
  
  --yellow-dark: #C47F17;
  --yellow: #DBAC2C;
  --yellow-light: #F1E9C9;
  --purple-dark: #4B2995;
  --purple: #8047F8;
  --purple-light: #EBE5F9;

  --base-title: #272221;
  --base-subtitle: #403937;
  --base-text: #574F4D;
  --base-label: #8D8686;
  --base-hover: #D7D5D5;
  --base-button: #E6E5E5;
  --base-input: #EDEDED;
  --base-card: #F3F2F2;

  --background: #FAFAFA;
  --white: #FFFFFF;

  --font-roboto : "Roboto", sans-serif;
  --font-baloo2: "Baloo 2", sans-serif

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/* -------------------- NAVBAR -------------------- */

nav {
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-roboto);
  padding: 62px 250px;
}

nav > .nav-header {
  display: inline;
}

nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

nav > .nav-btn {
  display: none;
}

nav > .nav-links {
  display: flex;
  float: right;
  font-size: 18px;
  
  gap: 25px;
}

nav > .nav-links > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--base-title);
  cursor: pointer;
}


nav > #nav-check {
  display: none;
}

@media (max-width:800px) {
  nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    transition: all ease-in 0.2s;
  }
  nav > .nav-btn > label:hover,nav  #nav-check:checked ~ .nav-btn > label {
    scale: 1.1;
  }
  nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
  }
  nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* -------------------- NAVBAR -------------------- */

/* -------------------- MAIN -------------------- */

#inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px;
  margin-top: 140px;

  font-family: var(--font-roboto);
}

.inicioLeft {
  margin-right: 350px;
}

.leftUpper h2 {
  font-family: var(--font-baloo2);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  color: var(--base-title);
  margin-bottom: 20px;
}

.leftUpper p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--base-subtitle);
  margin-bottom: 70px;
}

.leftDown {
  display: grid;
  grid-template-columns: 2fr 2fr;
  
}
.description {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 28px;
}

.description img {
  padding: 8px;
  border-radius: 999px;
}

.cartMini {
  background-color: var(--yellow-dark);
}

.box {
  background-color: var(--base-text);
}

.bomb {
  background-color: var(--yellow);
}

.coffe {
  background-color: var(--purple);
}

/* -------------------- MAIN -------------------- */

/* -------------------- FOOTER -------------------- */

footer {
  padding: 0 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
  font-family: var(--font-roboto);
}

footer p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* -------------------- FOOTER -------------------- */


