:root {

  --yellow-dark: #C47F17;
  --yellow: #DBAC2C;
  --yellow-light: #F1E9C9;
  --purple-dark: #4B2995;
  --purple: #8047F8;
  --purple-light: #EBE5F9;

  --base-title: #272221;
  --base-subtitle: #403937;
  --base-text: #574F4D;
  --base-label: #8D8686;
  --base-hover: #D7D5D5;
  --base-button: #E6E5E5;
  --base-input: #EDEDED;
  --base-card: #F3F2F2;

  --background: #FAFAFA;
  --white: #FFFFFF;

  --font-roboto: "Roboto", sans-serif;
  --font-baloo2: "Baloo 2", sans-serif
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* -------------------- NAVBAR -------------------- */

nav {
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-roboto);
  padding: 62px 250px;
}

nav>.nav-header {
  display: inline;
}

nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

nav>.nav-btn {
  display: none;
}

nav>.nav-links {
  display: flex;
  float: right;
  font-size: 18px;
  gap: 25px;
}

nav>.nav-links>a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--base-title);
  cursor: pointer;
}

nav>#nav-check {
  display: none;
}



@media (max-width: 768px) {
  nav {
    padding: 50px;
  }

  nav>.nav-links {
    display: none;
  }

  
  nav>#nav-check:checked~.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: var(--purple);
    padding: 20px;
    z-index: 99;
    
  }

  nav>.nav-links>a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: var(--white);
    padding-right: 20px; 
  }

  nav>#nav-check:checked~.nav-links>a:last-child {
    margin-bottom: 0; 
  }

  nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 25px;
  }

  nav>.nav-btn>label {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 13px;
    transition: all ease-in 0.2s;
    right: 0;
  }

  nav>.nav-btn>label:hover,
  nav>#nav-check:checked~.nav-btn>label {
    transform: scale(1.1);
  }

  nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--purple);
    margin-bottom: 5px;
  }

  nav>#nav-check:checked~.nav-links {
    height: 100vh;
    overflow-y: auto;
  }

  /* Definir espaçamento para os links do menu */
  nav>#nav-check:checked~.nav-links>a {
    padding-right: 20px;
  }
  
}



/* -------------------- NAVBAR -------------------- */

/* -------------------- MAIN -------------------- */

#inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px;
  margin-top: 140px;

  font-family: var(--font-roboto);
}

.inicioLeft {
  margin-right: 350px;
}

.leftUpper h2 {
  font-family: var(--font-baloo2);
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  color: var(--base-title);
  margin-bottom: 20px;
}

.leftUpper p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--base-subtitle);
  margin-bottom: 70px;
}

.leftDown {
  display: grid;
  grid-template-columns: 2fr 2fr;

}

.description {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 28px;
}

.description img {
  padding: 8px;
  border-radius: 999px;
}

.cartMini {
  background-color: var(--yellow-dark);
}

.box {
  background-color: var(--base-text);
}

.bomb {
  background-color: var(--yellow);
}

.coffe {
  background-color: var(--purple);
}



@media (max-width: 768px) {
  #inicio {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 0 20px; 
    margin-top: 140px;
    font-family: var(--font-roboto);
  }
  
  .inicioLeft {
    margin-right: 0; 
    margin-bottom: 40px;
  }
  
  .leftUpper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .leftUpper h2 {
    font-size: 28px; 
    margin-bottom: 10px; 

  }
  
  .leftUpper p {
    font-size: 16px; 
    margin-bottom: 30px; /
  }
  
  .leftDown {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
  }
  
  .description {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px; 
  }
  
  .description img {
    padding: 6px; 
    border-radius: 999px;
  }
  
  
  .cartMini {
    background-color: var(--yellow-dark);
    width: 20px;
    height: 20px;
  }
  
  .box {
    background-color: var(--base-text);
    width: 20px;
    height: 20px;
  }
  
  .bomb {
    background-color: var(--yellow);
    width: 20px;
    height: 20px;
  }
  
  .coffe {
    background-color: var(--purple);
    width: 20px;
    height: 20px;
  }
  
  .inicioRight {
    text-align: center;
    margin-top: 30px; 
  }
  
  .inicioRight img {
    width: 350px; 
  }
}



/* -------------------- MAIN -------------------- */

/* -------------------- FOOTER -------------------- */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  font-family: var(--font-roboto);
}

footer p {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  footer {
    max-width: 768px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px; /* Reduzindo o padding para dispositivos menores */
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
    font-family: var(--font-roboto);
  }
  
  footer p {
    font-size: 20px; /* Reduzindo o tamanho da fonte para dispositivos menores */
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    margin: 0; /* Removendo margem inferior para dispositivos menores */
  }
  
  .card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Reduzindo o espaçamento entre os ícones para dispositivos menores */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  .socialContainer {
    width: 30px; /* Reduzindo o tamanho dos ícones para dispositivos menores */
    height: 30px;
  }
}

/* -------------------- FOOTER -------------------- */

/* -------------------- CAFES -------------------- */

#cafes {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-family: var(--font-roboto);
  padding: 0 250px;
}

#cafes footer {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
  padding-bottom: 20px;

  font-family: var(--font-roboto);
}

.cafesContainer {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  
}

.cafeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.cafeCard img {
  width: 120px;
  height: 120px;
}


.cafeCard .mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cafeCard .mid span {
  color: var(--yellow-dark);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;

  margin: 16px 0 20px 0;
}

.cafeCard .mid h4 {
  font-family: var(--font-baloo2);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--base-title);

  margin-bottom: 8px;
}

.cafeCard .mid p {
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--base-label);
  margin-bottom: 33px;
}

.cafeCard .bottom {
  display: flex;
  gap: 40px;
  align-items: center;
}

.cafeCard .bottom button {
  border: none;
  padding: 8px;
  background-color: var(--purple);
  border-radius: 6px;
  cursor: pointer;
}

.cafeCard .bottom button img {
  width: 19.74px;
  height: 17.875px;
}

@media(max-width: 768px) {
  #cafes {
    padding: 0 50px;
  }

  .cafesContainer {
    margin-top: 54px;
    grid-template-columns: repeat(3, 3fr);
    
  }

  .about-us-image {
    width: 300px; 
  }
}

/* -------------------- CAFES -------------------- */

/* -------------------- SOBRE NOS -------------------- */

#sobrenos {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-family: var(--font-roboto);
  padding: 0 250px;
}

.sobreMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.sobreContainer {
  margin-right: 100px;
}

.sobreContainer p {
  margin: 15px 0;
  font-size: 1rem;
  color: var(--base-subtitle);
}

.sobreContainer li {
  margin: 15px 0;
  font-size: 1rem;
  color: var(--base-subtitle);
}

.sobreContainer  ul {
  list-style: none;
}

.sobreContainer  h3 {
  margin: 20px 0;
}

@media(max-width:768px) {
  #sobrenos {
    padding: 50px;
    margin-top: -30px;
  }

  .sobreMain {
    flex-direction: column;
    justify-content: center;
  }

  .sobreContainer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* -------------------- SOBRE NOS -------------------- */

/* -------------------- CONTATO -------------------- */

#contato {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-family: var(--font-roboto);
  padding: 0 250px;
}

#contato p {
  margin-top: 20px;
  font-size: 1.175rem;
  font-weight: bold;
  color: var(--base-title);
}

.contatoContainer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.sobreForm {
  width: 50%;
  
  
}

.form {
  
  max-width: 32rem;
  font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: var(--base-title);
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 8px;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: var(--yellow);
  box-shadow: 0 0 0 3px var(--yellow);;
}

.form button {
  display: block;
  padding: 1rem;
  background: var(--yellow-dark);
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
   transition: 0.2s; 
}

.form button:hover,
.form button:focus {
  outline: none;
  background: var(--yellow);
}

@media(max-width: 768px) {
  #contato {
    padding: 0 50px;
    align-items: center;
  }
  .hero {
    display: none;
  }

  .contatoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-bottom: 80px;
  }
}

/* -------------------- CONTATO -------------------- */

/* -------------------- CONTATO SUCCESS -------------------- */

#contatoSuccess {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  font-family: var(--font-roboto);
  padding: 0 250px;
}

.text h2 {
  font-size: 32px;
}

#contatoSuccess img {
  width: 400px;
  
}

.text p {
  font-size: 1.25rem;
  color: var(--base-text);
  margin: 10px 0;
}

.text img {
  margin-top: 50px;
}

@media(max-width:768px) {
  #contatoSuccess {
    flex-direction: column;
    justify-content: space-between;
    
    padding: 0 50px;
  }
  .text {
    margin-bottom: 20px;
  }
  .text img {
   display: none;
  }

  #contatoSuccess img {
    width: 350px;
    margin-bottom: 30px;
  }
}

/* -------------------- CONTATO SUCCESS -------------------- */

/* -------------------- CARRINHO -------------------- */

#carrinho {
  display: flex;
  flex-direction: column;  
  margin-top: 32px;
  font-family: var(--font-roboto);
  padding: 0 250px;
}
.cafeItemCart button {
  border: none;
  cursor: pointer;
}

.cafeItemCart button img {
  width: 32px;
}

.carrinhoImg img {
  width: 700px;
}

.carrinhoContainer {
  display: flex;
  justify-content: space-between;
}

#listaCafes {
  margin-top: 30px;
  overflow: auto;
  max-height: 500px;
}

.total {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.total p {
  font-size: 18px;
}

.finalizar button {
  border: none;
  background-color: green;
  padding: 10px;
  color: var(--white);
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.listaCafes {
  max-width: 320px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white);
  background-color: #000;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.listaCafes p {
  font-size: 18px;
  margin: 5px 0;
}

button.noselect {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 button.noselect, button span {
  transition: 200ms;
 }
 
 button.noselect .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }
 
 button.noselect .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 button.noselect svg {
  width: 15px;
  fill: #eee;
 }
 
 button.noselect:hover {
  background: #ff3636;
 }
 
 button:hover .text {
  color: transparent;
 }
 
 button.noselect:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 button.noselect:focus {
  outline: none;
 }
 
 button.noselect:active .icon svg {
  transform: scale(0.8);
 }

 @media(max-width:768px) {
  #carrinho {
    padding: 0 50px;
    
  }
  .carrinhoContainer {
    display: flex;
    flex-direction: column;
    
  }
  .carrinhoImg img {
    display: none;
  }

  #carrinho footer {
    position: fixed;
  }
 }

/* -------------------- CARRINHO -------------------- */

/* -------------------- SUCESSO -------------------- */

#sucesso {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  font-family: var(--font-roboto);
  padding: 0 250px;

  margin-top: 100px;
}

.img2 {
  width: 500px;
}

.leftSucesso h2 {
  margin-bottom: 20px;
}

.img1 {
  width: 300px;
  margin-top: 40px;
}

@media(max-width:768px) {
  #sucesso {
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .img1 {
    display: none;
  }
  .leftSucesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .img2 {
    margin-bottom: 50px;
  }
}

/* -------------------- SUCESSO -------------------- */

